* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Outfit;
  background-color: #ffffff;
  overflow-x: hidden !important;
  color: #000000;
}

.app-section {
  padding-top: 35px;
  overflow: hidden;
  background-color: #0B0C12;
  height: 100%;
  padding-bottom: 91.9px;
}

.slick-list {
  max-width: 85%;
  margin: auto !important;
  width: 100%;
}

.container {
  max-width: 100%;
  padding: 0 50px;
  width: 100%;
}

.blog-header {
  background-color: #0B0C12 !important;
}

/* Header component styles */
.header {
  padding: 50px 50px;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: transparent;
  font-family: Outfit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  /* Fixed height */
  transition: background-color 0.3s ease;
}

/* Apply a black background when the user scrolls down */
.header.scrolled {
  padding: 45px 50px;
  background-color: rgba(3, 13, 67, .376);
  /* Semi-transparent white */
  backdrop-filter: blur(5px);
}

.header .nav button {
  margin: 0 20px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wallet-btn {
  margin: 0 20px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  border: none;
  padding: 15px 25px;
  margin-right: 0 !important;
  border-radius: 25px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(7.5px);
  transition: all 0.3s ease-in-out;
}

.wallet-btn:hover {
  background-color: rgba(255, 255, 255, 0.085) !important;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sale-details h1 {
  color: #FFF;
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.sale-details .par {
  color: #FFF;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  margin: 32px 0;
  font-weight: 600;
  line-height: normal;
}

.sale-details .progress-info {
  margin: 20px 0;
  color: #FFF !important;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.subtitle {
  color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 15px;
}

.subtitle2 {
  color: rgba(255, 255, 255, 0.505);
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 15px;
}

.wal-head {
  width: 100%;
  text-align: center;
  font-family: Outfit, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 24px;
}

.buy-now {
  padding: 12px 48px;
  border-radius: 29px;
  background: linear-gradient(90deg, #65EA88 0%, #06B6D4 100%);
  color: #FFF;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  margin-top: 28px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.referral-section h2 {
  color: #FFF;
  margin-top: 18px;
  font-family: Outfit;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}


.referral-link {
  margin-top: 30px;
  display: flex;
  width: fit-content;
  border-radius: 8px;
  align-items: center;
  background: rgba(255, 255, 255, 0.96);
}

.referral-link input {
  padding: 10px 15px;
  color: #000;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 19.2px */
  width: 300px;
  border: none;
  background-color: rgba(255, 255, 255, 0.96) !important;
  border-radius: 8px;
}

.ReactModal__Overlay {
  background-color: #0d0b0b93 !important;
  backdrop-filter: blur(4px) !important;
  align-items: center;
  z-index: 100;
  display: flex;
}

.referral-link button {
  padding: 4px 22px;
  border-radius: 8px;
  background: #0B0C12;
  margin-right: 4px;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.progress-bar {
  width: 80%;
  height: 38px;
  border-radius: 29px;
  border: 1px dashed rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.05);
  margin: 12px 0;
}

.progress-bar-fill {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  color: #FFF;
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 5px;
  text-transform: uppercase;
  height: 22px;
  border-radius: 29px;
  background: linear-gradient(90deg, #65EA88 0%, #06B6D4 100%);
}

.right-sec {
  background-image: url('./assets/bg.svg');
  position: absolute;
  top: 0;
  z-index: 0;
  background-size: cover;
  background-position: top;
  padding: 0 !important;
  width: 600px;
  /* Lower z-index to be behind */
  height: 729px;
  right: 0;
}

.responsive-header {
  display: none;
}

@media (max-width: 1224px) {
  .right-hid {
    display: none !important;
  }

  .app-section {
    padding-bottom: 0 !important;
  }

  .responsive-header {
    display: flex;
    /* Set this to flex by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: fixed;
    top: 0;
    right: -100%;
    /* Start off-screen */
    gap: 50px;
    background-color: #0b0c12d6;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
    /* Transition opacity too */
    backdrop-filter: blur(6px);
    visibility: hidden;
    /* Initially hidden */
    opacity: 0;
    /* Initially fully transparent */
  }

  .hmm {
    display: none;
  }

  .responsive-header.open {
    right: 0;
    /* Move to the right position */
    visibility: visible;
    /* Make it visible */
    opacity: 1;
    /* Make it fully opaque */
  }

  .responsive-header button {
    background-color: transparent !important;
    border: 0 !important;
    font-weight: 600;
    font-size: 14px;
  }

  .toggle-btn {
    background-color: transparent !important;
    border: 0 !important;
    font-weight: 600;
    color: white;
    font-size: 18px;
  }

  .toggle-btns {
    background-color: transparent !important;
    border: 0 !important;
    font-weight: 600;
    color: white;
    font-size: 18px;
  }

  .toggle-btn.hid {
    display: none;
  }

  .hid2 {
    display: none !important;
  }

  .toggle-btn {
    display: block !important;
  }

  .overlay-img {
    height: 160px;
    margin-top: 160px !important;
    z-index: 100;
  }

  .right-sec {
    margin-top: 70px;
    position: relative;
    width: 100%;
  }
}


.right-sec .bg-blur-right {
  padding: 40px 85px 20px 0;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(5px);
  height: 290px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.countdown {
  text-align: end;
}

.countdown h2 {
  color: #FFF;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.countdown h1 {
  color: #FFF;
  font-family: Outfit;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1200px) {

  /* Your CSS styles go here */
  /* Example */
  .modals {
    max-height: calc(100vh - 40px);
    height: auto !important;
  }
}

.counter {
  justify-content: end;
  display: flex;
  align-items: center;
  margin-top: 34px;
  gap: 28px;
}

.countdown .unit {
  color: #FFF;
  font-family: Outfit;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.right-sec .socials img {
  width: 50px;
  height: 50px;
  margin-left: 23px;
}

.refferal-section {
  background-color: #030D43;
  padding-bottom: 60px;
}

/* Modal Styles */
.modals {
  background-color: #1A1B1F;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  padding: 15px 20px 10px 20px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.32);
  min-width: 368px;
  width: 368px;
  margin: auto;
  z-index: 1000;
}

.socials {
  overflow: hidden;
  /* to prevent overflow */
}

.socials a {
  position: relative;
  transition: transform 0.3s ease;
  /* smooth transition */
}

.socials a:hover {
  transform: scale(2);
  /* hover effect */
  z-index: 10;
  /* optional */
}


.modals button {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: normal;
  color: white;
  width: 100%;
  font-weight: 400;
  display: flex;
  gap: 10px;
  margin-top: 4px;
  font-size: 15px;
  margin-left: -4px;
  transition: all 0.1s ease-in-out;
  align-items: center;
  border-radius: 12px;
  padding: 8px 11px;
  text-align: left;
  vertical-align: baseline;
  background-color: transparent;
}

.close {
  background-color: rgba(224, 232, 255, 0.1) !important;
}

.close:hover {
  transform: scale(1);
  background-color: rgba(224, 232, 255, 0.147) !important;
}

.modals button:hover {
  background-color: rgba(224, 232, 255, 0.1);
}

.wallet-info {
  position: relative;
}

.wallet-info .dropdown {
  position: absolute;
  background-color: #fff;
  color: #111;
  border: 1px solid #ddd;
  top: 30px;
  right: 0;
  display: none;
}

.wallet-info:hover .dropdown {
  display: block;
}

.wallet-info button {
  background-color: #3d91f7;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.wallet-info button:hover {
  background-color: #2c74d5;
}

.wallet-info .dropdown button {
  background-color: #f5f5f5;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.wallet-info .dropdown button:hover {
  background-color: #ddd;
}

.loader {
  margin-top: 20px;
  text-align: center;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
.spinner {
  margin-top: 20px;
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #ffffff;
  box-shadow:
    calc(1*var(--d)) calc(0*var(--d)) 0 0,
    calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d)) calc(1*var(--d)) 0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn)
  }
}

.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(assets/video-bg.svg);
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.play-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: white;
  text-align: center;
}

.play-button svg {
  margin-bottom: 20px;
}

.video-player {
  width: 100%;
  height: 100%;
}

.video-player iframe {
  width: 100vw;
  height: 100%;
  border: none;
}

.map-head {
  color: #FFF;
  font-family: Outfit;
  font-size: 20px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: normal;
}

@media (max-width: 790px) {
  .overlay-img {
    margin-top: 10px;
  }
}

@media (max-width: 690px) {
  .overlay-img {
    margin-top: -50px !important;
    width: 120px;
  }
}

@media (max-width: 620px) {
  .container {
    padding: 0 35px;
  }

  .content h1 {
    font-size: 35px;
  }

  .i1 {
    width: 90px;
  }

  .i2 {
    width: 40px;
  }

  .par {
    font-size: 14px !important;
  }

  .bars {
    width: 100% !important;
  }

  .mm {
    font-size: 13px;
  }

  .referral-section h2 {
    font-size: 16px;
    margin-top: 35px;
  }

  .referral-link input {
    width: 80%;
  }

  .sale-details .progress-info {
    font-size: 13px;
  }

  .right-sec .bg-blur-right {
    padding: 50px 30px !important;
  }

  .countdown h1 {
    font-size: 26px !important;
  }

  .countdown .unit {
    font-size: 20px !important;
  }

  .countdown h2 {
    font-size: 14px !important;
  }

  .right-sec .socials img {
    width: 35px !important;
    height: 35px !important;
  }

  .play-button svg {
    width: 70px;
    height: 70px;
  }

  .video-container {
    max-width: calc(177.778vh) !important;
    height: calc(56.25vw) !important;
  }

  .roadmap-container {
    max-width: calc(177.778vh) !important;
    padding: 30px 0 !important;
    height: 60vh !important;
  }

  .map-head {
    font-size: 10px;
  }

  .map-main-head {
    font-size: 18px;
  }
}

@media (max-width: 410px) {
  .container {
    padding: 0 25px;
  }

  .content h1 {
    font-size: 25px;
  }

  .i1 {
    width: 60px;
  }

  .i2 {
    width: 20px;
  }

  .par {
    font-size: 12px !important;
  }

  .bars {
    width: 100% !important;
  }

  .mm {
    font-size: 12px;
  }

  .referral-section h2 {
    font-size: 13px;
    margin-top: 35px;
  }

  .referral-link input {
    width: 80%;
  }

  .sale-details .progress-info {
    font-size: 12px;
  }

  .right-sec .bg-blur-right {
    padding: 40px 20px !important;
  }

  .countdown h1 {
    font-size: 24px !important;
  }

  .counter {
    gap: 18px !important;
  }

  .countdown .unit {
    font-size: 12px !important;
  }

  .countdown h2 {
    font-size: 14px !important;
  }

  .right-sec .socials img {
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 12px;
  }
}

.container-afflit {
  background-color: #030D43;
  padding: 90px 140px 50px;
}

.container-affli {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* Two equal columns */
  gap: 28px;
  margin: 0 auto;
}

/* Left Section */
.left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 28px;
}

.left .car {
  width: 100%;
  border: 1.5px solid rgba(0, 148, 255, .16);
  background-color: transparent;
  padding: 35px 35px 20px 35px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 30px;
  display: flex !important;
}

.left h2 {
  color: white;
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 18px;
}

.left p {
  color: #c1cade;
  font-size: 1em;
  line-height: 1.6;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 1268px) {
  .referral-section {
    margin-top: 10px !important;
    padding-left: 0 !important;
  }

  .referral-section p {
    text-align: center;
    padding-right: 0 !important;
  }

  .referral-link {
    margin: auto;
    margin-bottom: 35px;
  }

  .refi {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .referral-section h2 {
    text-align: center;
    font-size: 24px !important;
  }

  .container-afflit {
    padding: 40px 0px;
  }

  .container-affli {
    grid-template-columns: 1fr !important;
    /* Single column layout on smaller screens */
  }

  .left {
    order: 1 !important;
  }

  .right img {
    width: 100%
  }

  .chart-container {
    grid-template-columns: 1fr !important;

  }

  .chart-container .description {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 30px !important;
  }

  .chart__wrap {
    width: 100% !important;
    height: auto !important;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }
}

.map-main-head.text-center {
  font-size: 52px;
}

.roadmap-content {
  width: 100%;
}

.overlay-img {
  position: absolute;
  top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-img img {
  animation: 10s ease-in-out 0s infinite normal none running coinAnimate;
}

@keyframes coinAnimate {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  20% {
    transform: translateY(10px) rotate(0deg);
  }

  40% {
    transform: translateY(0px) rotate(0deg);
  }

  60% {
    transform: translateY(0px) rotate(360deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.timeline {
  width: 85%;
  margin: 60px auto 60px auto !important;
  overflow-x: auto !important;
}

@media (max-width: 620px) {
  .hidd {
    display: none !important;
  }

  .hid {
    display: block !important;
  }
}

@media (max-width: 480px) {

  .left h2 {
    font-size: 15px !important;
    /* Smaller heading for small screens */
  }

  .label {
    font-size: 16px !important;
  }

  .timeline .d-flex {
    gap: 144px !important;
  }

  .referral-section {
    margin-top: 10px !important;
    padding-left: 0 !important;
  }

  .referral-section p {
    text-align: center;
    padding-right: 0 !important;
  }

  .referral-link {
    margin: auto;
    margin-bottom: 35px;
  }

  .refi {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .referral-section h2 {
    text-align: center;
    font-size: 24px !important;
  }

  .map-head {
    font-size: 14px !important;
  }

  .map-main-head {
    font-size: 24px !important;
  }

  .left p,
  .right p {
    font-size: 10px !important;
    /* Smaller paragraph text */
  }
}

.map-main-head {
  color: #FFF;
  font-family: Outfit;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.roadmap-container {
  height: 90vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(assets/map-bg.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.roadmap-content {
  position: relative;
  text-align: center;
  color: white;
}

.roadmap-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.roadmap-header h1 {
  font-size: 36px;
  font-weight: bold;
}

.milestone {
  text-align: center;
  margin-left: -25px;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
}

.token-distribution-container {
  text-align: center;
  padding: 50px 50px 10px 50px;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 2.8fr;
  /* Left (chart) takes 1 part, Right (legend) takes 2 parts */
  gap: 10px;
  /* Adds space between the columns */
  justify-items: center;
  /* Centers the content horizontally in each column */
  align-items: center;
}

canvas {
  width: 600px;
  height: 600px;
}

.description {
  text-align: start !important;
  margin-right: -80px;
  margin-left: 80px;
}

.description .one {
  color: #777;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  /* 32px */
}

.description .two {
  color: #777;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

.post-info h4 {
  transition: all 0.3s ease-in-out;
}

.post-info h4:hover {
  color: #16BF86 !important;
}

/* Slider Container */
.slider-container {
  box-sizing: border-box;
  padding: 50px 0;
  height: auto;
  text-align: center;
}

.bn {
  max-height: 380px !important;
  height: auto !important;
}

/* Styling the slider */
.slider {
  overflow: hidden;
}

/* Positioning the content inside the slider */

.post-info {
  background: #FFF;
  box-shadow: 0px 4px 24px 2px #F6F6F6;
  text-align: left;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
}

.image-w {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
}

.slider-item img {
  /* Fixed height */
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* Ensures image retains its aspect ratio without stretching */
  transition: transform 0.3s ease;
  /* Smooth transition for zoom effect */
}

/* Zoom effect when hovering */
.slider-item img:hover {
  transform: scale(1.2);
  /* Zoom the image horizontally and vertically */
}


.slick-track {
  display: flex !important;
  justify-content: flex-start !important;
  /* Align the slides to the left */
  flex-wrap: nowrap !important;
  /* Prevent slides from wrapping */
  gap: 20px !important;
  width: 100% !important;
  /* Control the spacing between the slides */
}

.slick-slide {
  width: 350px !important;
  /* 4 slides per row, considering gap */
  /* Adjust width to show 4 slides with space */
  flex: 0 0 auto !important;
  /* Prevent stretching */
}

/* Responsiveness for medium screens (1024px and below) */
@media (max-width: 1024px) {
  .slick-slide {
    width: 350px !important;
    /* 2 slides per row */
  }
}

/* Responsiveness for small screens (600px and below) */
@media (max-width: 600px) {
  .slick-slide {
    width: 350px !important;

    /* 1 slide per row */
  }
}


.slick-slide:last-child {
  margin-right: 0;
  /* Prevents gap after the last slide */
}

.slick-list {
  overflow: hidden;
}


.post-info h3 {
  color: #16BF86;
  margin: 10px 0;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.post-info h4 {
  color: #000;
  font-family: Outfit;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 208px;
  margin: 18px 0;
}

.post-info p {
  color: #5E5959;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 20.8px */
}

.post-info small {
  color: #000;
  font-family: Outfit;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.faq-container {
  max-width: 993px;
  width: 100%;
  margin: 40px auto 100px auto;
}

.faq-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.faq-question:hover {
  background-color: #f1f1f1;
}

.faq-question.active {
  background: #1F1C1A;
  color: #FFF;
  padding: 15px 25px;
  font-family: Outfit;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.faq-question {
  color: #000;
  font-family: Outfit;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px 25px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: #F6F6F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  color: #777;
  padding: 15px 25px;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 24px */
}

/* General Footer Styling */
.footer {
  background: #0B0C12;
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 0 40px 0;
  flex-wrap: wrap;
}

.footer-logo {
  flex: 1;
  max-width: 30%;
}

.footer-logo img {
  width: 154px;
  height: auto;
}

.footer-logo p {
  color: #FFF;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 35.2px */
  margin-top: 30px;
}

.footer-menu {
  flex: 1;
  max-width: 18%;
}

.footer-menu h3 {
  color: #FFF;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  /* 35.2px */
  margin-bottom: 30px;
  margin-top: 12px;
}

.footer-menu ul {
  list-style: none;
  padding-left: 0;
}

.footer-menu ul li {
  margin: 18px 0;
}

.footer-menu a {
  color: #FFF;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  /* 32px */
  text-decoration: none;
}

.footer-subscribe {
  flex: 1;
  max-width: 35%;
  text-align: center;
}

input {
  outline: none !important;
}

.footer-subscribe h3 {
  text-align: start;
  color: #FFF;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  /* 35.2px */
  margin-bottom: 30px;
  margin-top: 12px;
}


.footer-bottom {
  text-align: center;
  color: #FFF;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 25.6px */
  padding-bottom: 15px;
}

.footer-bottom a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #fff;
}

/* Responsive Styling */
@media screen and (max-width: 1024px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo,
  .footer-menu,
  .footer-subscribe {
    max-width: 100%;
    margin-bottom: 20px;
    width: 100% !important;
  }

  .footer-menu .d-flex {
    justify-content: center !important;
  }

  .subscribe-form {
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }

  .footer-subscribe h3 {
    text-align: center;
  }

  .email-input {
    width: 80% !important;
  }
}

.hid2 {
  display: none;
}

/* styles.css */

/* Default styles */
.table-cell {
  margin-left: -170px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

/* Responsive adjustments */
@media (max-width: 1224px) {
  .table-cell {
    margin-left: calc(-170px + 14vw) !important;
  }
}

@media (max-width: 768px) {
  .table-cell {
    margin-left: calc(-170px + 18vw) !important;
  }
}

@media (max-width: 480px) {
  .table-cell {
    margin-left: calc(-170px + 35vw) !important;
  }
}


@media screen and (max-width: 620px) {

  .con {
    margin-top: 190px !important;
  }

  .m {
    flex-direction: column;
    justify-content: center !important;
    gap: 15px !important;
    align-items: center !important;
  }

  .table-wrap {
    width: 100%;
    overflow-x: scroll !important;
  }

  .header {
    height: auto !important;
    padding: 35px 34px !important;
  }

  .hmmm {
    display: none !important;
  }

  .hid2 {
    display: block !important;
    font-size: 11px !important;
  }

  .hid1 {
    display: none !important;
  }

  .chart__wrap {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    overflow-x: scroll !important;
  }

  .referral-link {
    width: 100% !important;
  }

  .faq-question {
    font-size: 14px !important;
    text-align: start !important;
  }

  .footer-logo img {
    width: 100px;
  }

  .mm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }



  .header .nav button {
    margin-left: 0 !important;
  }

  .header {
    flex-direction: column !important;
    gap: 20px !important;
    align-items: flex-start !important;
  }

  .roadmap-container {
    height: auto !important;
  }

  .app-section .container {
    padding-top: 100px !important;
  }

  .footer-logo p {
    font-size: 12px;
  }

  .footer-menu ul {
    padding-left: 10px;
  }

  .footer-menu ul li {
    margin: 8px 0;
  }

  .footer-subscribe h3 {
    font-size: 14px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

.blog-btn {
  border-radius: 5px;
  background: #0B0C12;
  color: #FFF;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  /* 28.8px */
  width: 163px;
  height: 48px;
  flex-shrink: 0;
}

.search {
  position: relative;
  padding-left: 45px;
  border-radius: 5px;
  font-size: 14px;
  outline: none !important;
  background: #E6E6E6;
  width: 347px;
  box-shadow: none !important;
  height: 48px;

}

.search:focus {
  outline: none !important;
  background: #E6E6E6;
}

.search-icon {
  position: absolute;
  z-index: 10;
  top: 13px;
  left: 12px;
}

/* Table Styling */
table {
  width: 100% !important;
  margin-bottom: 20px !important;
  border: none !important;
}

th,
td {
  padding: 15px !important;
  background-color: transparent !important;
  border: none !important;
  text-align: left !important;
  border: 0 !important;
}

th {
  background-color: transparent !important;
  font-weight: 600 !important;
  color: #343a40 !important;
}

.paras {
  color: #5E5959;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

td {
  background-color: transparent !important;
  color: #000;
  font-family: Outfit;
  font-size: 15.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  vertical-align: middle !important;
}

tr {
  border: 0 !important;
  background-color: transparent !important;
}

td img {
  width: 110px !important;
  height: auto !important;
  border-radius: 5px !important;
}

tr:hover {
  background-color: #f9f9f920 !important;
}



button:hover {
  opacity: 0.8 !important;
}

button:focus {
  outline: none !important;
}

/* Edit and Delete Buttons */
button.btn-warning {
  background-color: #ffc107 !important;
}

button.btn-danger {
  background-color: #dc3545 !important;
}

/* Pagination Styling */
.pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.pagination .btn-pag {
  margin: 0 5px !important;
  padding: 8px 30px !important;
  border-radius: 5px;
  border: 0 !important;
  background: #F7F8F8;
  font-size: 14px !important;
  color: #6c757d !important;
}

.nmb:first-child {
  margin-left: 0 !important;
}

.nmb {
  padding: 6px 15px;
  border-radius: 5px;
  background: #F9F9F9;
  border: 0 !important;
  margin-left: 10px;
}

.pagination .active {
  background-color: #0B0C12 !important;
  color: #ffffff !important;
}

.pagination select {
  border: 1px solid #ced4da !important;
  padding: 5px !important;
  border-radius: 5px !important;
  font-size: 14px !important;
}

/* Styling for "Showing" text */
.pagination-info {
  font-size: 14px !important;
  margin-top: 15px !important;
  color: #6c757d !important;
}

.edit-ico {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.edit-ico:hover path {
  fill: #17BF44 !important;
}

.delete-ico {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.delete-ico:hover path {
  fill: #FF0000 !important;
}

.form-group {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group label {
  color: #000;
  font-family: Outfit;
  font-size: 14px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  /* 38.4px */
}

textarea {
  min-height: 250px;
}

button.create-blog-btn {
  background-color: #0B0C12;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.create-blog-btn:hover {
  background-color: #555;
}

.image-upload {
  position: relative;
  width: 100%;
  height: 400px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload p {
  color: #000000;
  font-size: 18px;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}